@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "circular-bold";
  src: url("../fonts/CircularXXWeb-Bold.woff2");
}

@font-face {
  font-family: "circular-italic";
  src: url("../fonts/CircularXXWeb-BoldItalic.woff2");
}

body{
  font-family: "circular-bold";
}
